.add {
    font-weight: bold;
}

.delete-button {
    display: inline-block;
    margin-left: 0.75rem;
    padding: 0.025rem 0.25rem;
    border-radius: 3px;
    color: red;
    border: red solid 1px;
    cursor: pointer;
}

.delete-button:hover {
    border: red solid 2px;
}

.list {
    padding-inline-start: 18px
}

.list li {
    margin-bottom: 1rem;
}

.list li .data-box .task-text {
    cursor: pointer;
    display: inline-block;
    padding-left: 3px;
    padding-right: 10px;
}

.list li .data-box .task-text:hover {
    color: dimgray;
}

.done {
    text-decoration: line-through;
    color: green;
}