.title {
    display: flex;
    justify-content: center;
    align-items: end;
}

.title h1::after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: #C59D5F;
    display: block;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 1rem;
}

.buttons button {
    padding: 0.5rem 1rem;
    border: 1px solid #C59D5F;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.buttons button:hover {
    background-color: #C59D5F;
    color: white;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .menu {
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1.5rem;
    }

    .card {
        flex-direction: row;
        justify-content: start;
        align-items: start;
    }
}

@media (min-width: 770px) and (max-width: 830px) {
    .card {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 1rem;
        overflow: hidden; /* Ensure content does not overflow */
    }

    .card img {
        width: 100%; /* Ensures the image doesn't overflow */
        height: auto;
    }

    .card h3, .card p {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
    }
}
