.movies ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0%;
}
.movies ul li {
  width: 25%;
  padding: 10px;
  border-radius: 0.5rem;
  border: 1px black solid;
}
.movies li img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1.5;
  border-radius: 0.5rem;
}

@media (max-width:425px) {
  .movies ul li {
    width: 100%;
  }
}

@media (min-width: 426px) and (max-width:780px) {
  .movies ul li {
    width: 50%;
  }
}